aws_profile: "default"
aws_region: "us-east-1"
aws_account_id: "YOUR_AWS_ACCOUNT_ID"

cluster_name: "devops-ha-eks"
vpc_id: "GENERATED_BY_TERRAFORM"

bastion_public_ip: "GENERATED_BY_TERRAFORM"
bastion_private_ip: "GENERATED_BY_TERRAFORM"
bastion_key_path: "~/.ssh/devops-ha-eks-bastion-key.pem"

aws_lbc_policy_name: "AWSLoadBalancerControllerIAMPolicy-devops-ha-eks"
aws_lbc_role_name: "AmazonEKSLoadBalancerControllerRole-devops-ha-eks"
aws_lbc_namespace: "kube-system"
aws_lbc_service_account_name: "aws-load-balancer-controller"

karpenter_namespace: "kube-system"
karpenter_service_account_name: "karpenter"
karpenter_controller_role_arn: "GENERATED_BY_TERRAFORM"
karpenter_node_role_name: "devops-ha-eks-node-role"
karpenter_ec2nodeclass_name: "default"
karpenter_nodepool_name: "default"
